<div class="container">
    <div class="row text-center login-page">
        <div class="col-md-12 login-form">
            <form action="" method="post">
                <div class="row">
                    <div class="col-md-12 login-form-header">
                        <p class="login-form-font-header">Welco<span>me</span>
                            <p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 login-from-row">
                        <input name="usuario" type="text" class="form-control" placeholder="Usuario" required/>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 login-from-row">
                        <input name="password" class="form-control" type="password" placeholder="Contraseña" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 login-from-row">
                        <button class="btn btn-warning" routerLink="/home">Iniciar sesion</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>