.btn-danger {
    margin-left: 5px;
}

.btnAdd {
    margin-top: 40px;
    margin-left: 111vh;
}

h1 {
    margin-top: 50px;
}

.title {
    font-size: 22px;
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text {
    color: orange;
}

label {
    color: orange;
}